@model bit285_assignment1_naps.Models.User
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
    ViewBag.title = "Password Info";
}



    <h1>Password Information</h1>
    <fieldset>
        <form>
            <div>
                <label>Last Name</label>
                <input value="Bansenauer" />
                <span>* required</span>
            </div>
            <div>
                <label>Birth year</label>
                <input value="1998" />
                <span>* required</span>
            </div>
            <div>
                <label>Favorite Color</label>
                <input value="blue" />
                <span>* required</span>
            </div>

            <div>
                <input type="submit" @*onclick="location.href='/select-password.html';"*@ value="Suggest Password" />
                <input type="button" value="Reset" />
            </div>
        </form>
    </fieldset>
