@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model bit285_assignment1_naps.Models.User
@{
    Layout = "_Layout";
    ViewBag.title = "Password Info";
}

<h1>Password Information</h1>
<fieldset>
    <form asp-action="PasswordInfo" method="post">
        <div>
            <label asp-for="LastName">Last Name</label>
            <input asp-for="LastName" value="@Model.LastName" />
            <span>* required</span>
        </div>
        <div>
            <label asp-for="Birthyear">Birth year</label>
           <input asp-for="Birthyear" value="@Model.Birthyear" />
            <span>* required</span>
        </div>
        <div>
            <label asp-for="FavoriteColor">Favorite Color</label>
           <input asp-for="FavoriteColor" value="@Model.FavoriteColor" />
            <span>* required</span>
        </div>
        <div>
            <input type="submit"  value="Suggest Password" />
            <input type="button" value="Reset" />
        </div>
    </form>
</fieldset>
