@model bit285_assignment1_naps.Models.User
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
    ViewBag.title = "Select Password";
}


    <h1>Choose a Password</h1>
    <fieldset>
        <form>
            <div>
                <label>Possible Passwords</label>
                <input value="bl-blue-Bansenauer" />
            </div>
            <div>
                <input type="submit" @*onclick="location.href='/confirm-account.html';"*@ value="Create Account" />
                <input type="button" value="Reset" />
            </div>
        </form>
    </fieldset>
